<div id="page">
  <!--header-->
  <div id="header">
    <!-- logo-->
    <!-- /logo-->
    <!--/searchform -->
    <div class="clr"><img src="/images/dt/SERIES_LOGO.jpg" width="934" height="106" alt="logo" /></div>
    <!--topnav menu-->
    <div class="topnav">
      <ul>
        <li class="current_page_item"><a href="#" title="Demo 2 Blog">Home</a></li>
        <li class="page_item page-item-2"></li>
        <li class="page_item page-item-3"></li>
        <li class="page_item page-item-4"></li>
      </ul>
      <div class="clr"></div>
    </div>
    <!--/topnav -->
    <div class="clr"></div>
    <div id="featured" >
      <ul class="ui-tabs-nav"><div id="page">
  <!--header-->
  <div id="header">
    <!-- logo-->
    <!-- /logo-->
    <!--/searchform -->
    <div class="clr"><img src="images/SERIES_LOGO.jpg" width="934" height="106" alt="logo" /></div>
    <!--topnav menu-->
    <div class="topnav">
      <ul>
        <li class="current_page_item"><a href="#" title="Demo 2 Blog">Home</a></li>
        <li class="page_item page-item-2"></li>
        <li class="page_item page-item-3"></li>
        <li class="page_item page-item-4"></li>
      </ul>
      <div class="clr"></div>
    </div>
    <!--/topnav -->
    <div class="clr"></div>
    <div id="featured" >
      <ul class="ui-tabs-nav">
        <li class="ui-tabs-nav-item first" id="nav-fragment-1"><a href="#fragment-1"><img src="images/simple_img_small_1.jpg" alt="" width="98" height="59" /><span>Merck Imaging</span></a></li>
        <li class="ui-tabs-nav-item" id="nav-fragment-2"><a href="#fragment-2"><img src="images/simple_img_small_2.jpg" alt="" /><span>Merck Global</span> Services IT</a></li>
        <li class="ui-tabs-nav-item" id="nav-fragment-3"><a href="#fragment-3"><img src="images/simple_img_small_3.jpg" alt="" /><span>Merck Technology</span></a></li>
        <li class="ui-tabs-nav-item" id="nav-fragment-4"><a href="#fragment-4"><img src="images/simple_img_small_4.jpg" alt="" /><span>Merck IDEA</span></a></li>
        
      </ul>
      <!-- First Content -->
      <div id="fragment-1" class="ui-tabs-panel" style=""> <img src="images/smple_img_1.jpg" alt="" /> </div>
      <!-- Second Content -->
      <div id="fragment-2" class="ui-tabs-panel ui-tabs-hide" style=""> <img src="images/smple_img_2.jpg" alt="" /> </div>
      <!-- Third Content -->
      <div id="fragment-3" class="ui-tabs-panel ui-tabs-hide" style=""> <img src="images/smple_img_3.jpg" alt="" /> </div>
      <!-- Fourth Content -->
      <div id="fragment-4" class="ui-tabs-panel ui-tabs-hide" style=""> <img src="images/smple_img_4.jpg" alt="" /> </div>
    </div>
    <div class="clr"></div>
  </div>
  <!--/header-->
   <div id="columns"><div id="rightcol">
      <!--/box -->
      <div class="box"> 
        <div class="wtitle"> 
          <h2>Navigation</h2> 
        </div> 
        <div class="content"> 
          <ul class="list"> 
            <li></li>
            <li></li> 
            <li></li> 
            <li></li> 
          </ul> 
          <div class="tabs_category tabs_list"> 
            <ul class="sf-menu sf-js-enabled"> 
              <li class="cat-item cat-item-8"></li> 
              <li class="cat-item cat-item-1">
                <ul class='children'> 
                  <li class="cat-item cat-item-5"></li> 
                  <li class="cat-item cat-item-3"></li> 
                  <li class="cat-item cat-item-4">
                    <ul class='children'> 
                      <li class="cat-item cat-item-12"></li> 
                    </ul> 
                  </li> 
                </ul> 
              </li> 
              <li class="cat-item cat-item-7"></li> 
              <li class="cat-item cat-item-11"></li> 
              <li class="cat-item cat-item-10"></li> 
              <li class="cat-item cat-item-9"></li> 
              <li class="cat-item cat-item-6"></li> 
            </ul> 
          </div>
          <!-- Start Meta --> 
          <div class="tabs_pages tabs_list"> 
            <ul> 
              
            </ul> 
          </div> 
          <!-- End Meta --> 
        </div> 
        <!--/content --> 
      </div> 
      <!--/box -->
      <!--/box -->
      <!--/box -->
    </div>
    <div id="centercol">
      <div class="box post" id="post-41">
        <div class="content">
          <div class="pic"></div>
          <div class="post-title">
            <h2>Merck Imaging</h2>
          </div>
          <!--/post-title -->
          <div class="post-excerpt">
            <p class="textlarge">Imaging topics for Merck scientists will be discussed and addressed in a focused forum of internal subject matter experts and external vendors. </p>
            <p>Key Merck Scientists who are specifically involved in Imaging will meet privately for a half day discussion from which they will generate a key set of Imaging &quot;issues&quot;. These issues will be presented in a 20 Minute open discussion with event exhibitors and scientists.            </p>
            <p><a href="#">read more</a></p>
          </div>
          <!--/post-excerpt -->
          <div class="bg"></div>
          <!--/post-commets -->
          <!--/post-date -->
          <div class="clr"></div>
        </div>
        <!--/content -->
      </div>
      <!--/box -->
      <div class="box post" id="post-41">
        <div class="content">
          <div class="pic"></div>
          <div class="post-title">
            <h2>Merck Global Services IT Symposium</h2>
          </div>
          <!--/post-title -->
          <div class="post-excerpt">
            <p>Initial high level topical areas discussed: </p>
            <p> The Healthcare Industry: How is it changing, how is it being changed by technology and new business models; Applications and Information: New application models, Cloud, Mobility, and Externalization impacts and trends; Technology: Trends effecting Merck community including social networking, cloud, and unified communications; People and Culture: Innovation,  Lean IT, How is IT in Healthcare IT changing; The Merck Business view: Needs assessment</p>
<p><a href="#">read more</a></p>
          </div>
          <!--/post-excerpt -->
          <div class="bg"></div>
          <!--/post-commets -->
          <div class="bg"></div>
          <!--/post-date -->
        </div>
        <!--/content -->
      </div>
      <div class="box post" id="post-">
        <div class="content">
          <div class="pic"></div>
          <div class="post-title">
            <h2>Merck Technology Symposium</h2>
          </div>
          <!--/post-title -->
          <div class="post-excerpt">
            <p><span class="textmed">This a broad-focused event, the main event in the Merck Conefrence Series. Conefernce includes scientists from Rahway, Kenilworth, and West Point, as well as other research locations throughout the world. Although the focus of the proprietary  talks and posters differ, the event focuses on the needs of the scientists. </span></p>
            <p><a href="#">read more</a></p>
          </div>
          <!--/post-excerpt -->
          <div class="bg"></div>
          <!--/post-commets -->
          <div class="bg"></div>
          <!--/post-date -->
        </div>
        <!--/content -->
      </div>
      <div class="box post" id="post-2">
        <div class="content">
          <div class="pic">
            <div class="pic"><a href="#" rel="bookmark" title="Permanent Link to Using jQuery To Create A OSX Dock Effect"></a></div>
            <div class="post-title">
              <h2>Merck IDEA</h2>
            </div>
          </div><div class="post-title">
          </div>
          <!--/post-title -->
          <div class="post-excerpt">
            <p><span class="textmed">This annual event was added to the Merck Technology Symposium as an opportunity for  discussions on Data Analysis and Evaluation topics, less focused on therapeutic or R&amp;D targets, but to address the broad range of issues related this community. Sample topics can cover imaging analysis, specific forms of data algorithms, data needs related to saleforce optimization or financial systems.<br />
              <br />
This event is expected to mainly include data-focused scientists from across all Merck locations throughout the world.  Strong participation is expected from Rahway, Kenilworth and West Point facilities.</span></p>
            <p><a href="#">read more</a></p>
          </div>
          <!--/post-excerpt -->
          <div class="bg"></div>
          <!--/post-commets -->
          <div class="bg"></div>
          <!--/post-date -->
        </div>
        <!--/content -->
      </div>
      <!--/box -->
      <div class="clr"></div>
      <div class="wp-pagenavi"> 
    </div>
    <!--/centercol -->
    
    <!--/rightcol -->
    <div class="clr"></div>
  </div>
  <!--/columns -->
    <div class="clr"></div>
</div>
  <!--/columns -->
<div id="footer"></div>
  <div class="clr"></div>
</div>
<!--/page -->
        <li class="ui-tabs-nav-item first" id="nav-fragment-1"><a href="#fragment-1"><img src="/images/dt/simple_img_small_1.jpg" alt="" width="98" height="59" /><span>Merck Imaging</span></a></li>
        <li class="ui-tabs-nav-item" id="nav-fragment-2"><a href="#fragment-2"><img src="/images/dt/simple_img_small_2.jpg" alt="" /><span>Merck Global</span> Services IT</a></li>
        <li class="ui-tabs-nav-item" id="nav-fragment-3"><a href="#fragment-3"><img src="/images/dt/simple_img_small_3.jpg" alt="" /><span>Merck Technology</span></a></li>
        <li class="ui-tabs-nav-item" id="nav-fragment-4"><a href="#fragment-4"><img src="/images/dt/simple_img_small_4.jpg" alt="" /><span>Merck IDEA</span></a></li>
        
      </ul>
      <!-- First Content -->
      <div id="fragment-1" class="ui-tabs-panel" style=""> <img src="/images/dt/smple_img_1.jpg" alt="" /> </div>
      <!-- Second Content -->
      <div id="fragment-2" class="ui-tabs-panel ui-tabs-hide" style=""> <img src="/images/dt/smple_img_2.jpg" alt="" /> </div>
      <!-- Third Content -->
      <div id="fragment-3" class="ui-tabs-panel ui-tabs-hide" style=""> <img src="/images/dt/smple_img_3.jpg" alt="" /> </div>
      <!-- Fourth Content -->
      <div id="fragment-4" class="ui-tabs-panel ui-tabs-hide" style=""> <img src="/images/dt/smple_img_4.jpg" alt="" /> </div>
    </div>
    <div class="clr"></div>
  </div>
  <!--/header-->
   <div id="columns"><div id="rightcol">
      <!--/box -->
      <div class="box"> 
        <div class="wtitle"> 
          <h2>Navigation</h2> 
        </div> 
        <div class="content"> 
          <ul class="list"> 
            <li></li>
            <li></li> 
            <li></li> 
            <li></li> 
          </ul> 
          <div class="tabs_category tabs_list"> 
            <ul class="sf-menu sf-js-enabled"> 
              <li class="cat-item cat-item-8"></li> 
              <li class="cat-item cat-item-1">
                <ul class='children'> 
                  <li class="cat-item cat-item-5"></li> 
                  <li class="cat-item cat-item-3"></li> 
                  <li class="cat-item cat-item-4">
                    <ul class='children'> 
                      <li class="cat-item cat-item-12"></li> 
                    </ul> 
                  </li> 
                </ul> 
              </li> 
              <li class="cat-item cat-item-7"></li> 
              <li class="cat-item cat-item-11"></li> 
              <li class="cat-item cat-item-10"></li> 
              <li class="cat-item cat-item-9"></li> 
              <li class="cat-item cat-item-6"></li> 
            </ul> 
          </div>
          <!-- Start Meta --> 
          <div class="tabs_pages tabs_list"> 
            <ul> 
              
            </ul> 
          </div> 
          <!-- End Meta --> 
        </div> 
        <!--/content --> 
      </div> 
      <!--/box -->
      <!--/box -->
      <!--/box -->
    </div>
    <div id="centercol">
      <div class="box post" id="post-41">
        <div class="content">
          <div class="pic"></div>
          <div class="post-title">
            <h2>Merck Imaging</h2>
          </div>
          <!--/post-title -->
          <div class="post-excerpt">
            <p class="textlarge">Imaging topics for Merck scientists will be discussed and addressed in a focused forum of internal subject matter experts and external vendors. </p>
            <p>Key Merck Scientists who are specifically involved in Imaging will meet privately for a half day discussion from which they will generate a key set of Imaging &quot;issues&quot;. These issues will be presented in a 20 Minute open discussion with event exhibitors and scientists.            </p>
            <p><a href="#">read more</a></p>
          </div>
          <!--/post-excerpt -->
          <div class="bg"></div>
          <!--/post-commets -->
          <!--/post-date -->
          <div class="clr"></div>
        </div>
        <!--/content -->
      </div>
      <!--/box -->
      <div class="box post" id="post-41">
        <div class="content">
          <div class="pic"></div>
          <div class="post-title">
            <h2>Merck Global Services IT Symposium</h2>
          </div>
          <!--/post-title -->
          <div class="post-excerpt">
            <p>Initial high level topical areas discussed: </p>
            <p> The Healthcare Industry: How is it changing, how is it being changed by technology and new business models; Applications and Information: New application models, Cloud, Mobility, and Externalization impacts and trends; Technology: Trends effecting Merck community including social networking, cloud, and unified communications; People and Culture: Innovation,  Lean IT, How is IT in Healthcare IT changing; The Merck Business view: Needs assessment</p>
<p><a href="#">read more</a></p>
          </div>
          <!--/post-excerpt -->
          <div class="bg"></div>
          <!--/post-commets -->
          <div class="bg"></div>
          <!--/post-date -->
        </div>
        <!--/content -->
      </div>
      <div class="box post" id="post-">
        <div class="content">
          <div class="pic"></div>
          <div class="post-title">
            <h2>Merck Technology Symposium</h2>
          </div>
          <!--/post-title -->
          <div class="post-excerpt">
            <p><span class="textmed">This a broad-focused event, the main event in the Merck Conefrence Series. Conefernce includes scientists from Rahway, Kenilworth, and West Point, as well as other research locations throughout the world. Although the focus of the proprietary  talks and posters differ, the event focuses on the needs of the scientists. </span></p>
            <p><a href="#">read more</a></p>
          </div>
          <!--/post-excerpt -->
          <div class="bg"></div>
          <!--/post-commets -->
          <div class="bg"></div>
          <!--/post-date -->
        </div>
        <!--/content -->
      </div>
      <div class="box post" id="post-2">
        <div class="content">
          <div class="pic">
            <div class="pic"><a href="#" rel="bookmark" title="Permanent Link to Using jQuery To Create A OSX Dock Effect"></a></div>
            <div class="post-title">
              <h2>Merck IDEA</h2>
            </div>
          </div><div class="post-title">
          </div>
          <!--/post-title -->
          <div class="post-excerpt">
            <p><span class="textmed">This annual event was added to the Merck Technology Symposium as an opportunity for  discussions on Data Analysis and Evaluation topics, less focused on therapeutic or R&amp;D targets, but to address the broad range of issues related this community. Sample topics can cover imaging analysis, specific forms of data algorithms, data needs related to saleforce optimization or financial systems.<br />
              <br />
This event is expected to mainly include data-focused scientists from across all Merck locations throughout the world.  Strong participation is expected from Rahway, Kenilworth and West Point facilities.</span></p>
            <p><a href="#">read more</a></p>
          </div>
          <!--/post-excerpt -->
          <div class="bg"></div>
          <!--/post-commets -->
          <div class="bg"></div>
          <!--/post-date -->
        </div>
        <!--/content -->
      </div>
      <!--/box -->
      <div class="clr"></div>
      <div class="wp-pagenavi"> 
    </div>
    <!--/centercol -->
    
    <!--/rightcol -->
    <div class="clr"></div>
  </div>
  <!--/columns -->
    <div class="clr"></div>
</div>
  <!--/columns -->
<div id="footer"></div>
  <div class="clr"></div>
</div>
<!--/page -->
